#lottery_gif{
	width:1400px;
	height:380px;
}

#lottery_gif:hover{
    cursor:pointer;
}

#lottery_body{
	width:1400px;
	height:380px;
}

#ball_board{
	width:1400px;
	height:300px;
	background-color:green;
	border-radius:8px;
	border:2px solid gray; 
}

.ball_box{
	position:relative;
	float:left;
	margin-top:30px;
	margin-left:45px;
	width: 220px;
	height:220px;
}

.showwhiteball{
	position: absolute;
	z-index: 100;
	top:20px;
	left:20px;
}

#selector1{
    margin-left:100px;
}

.selector{
	width:120px;
	height:50px;
	margin-left:140px;
	font-size: 30px;
	text-align: center;
}

#rollbtn{
	margin-left:630px !important;
}

#closelotterybtn{
	margin-left:410px !important;
}

#myCarousel{
	width:1400px;
	height:600px;
}

#blackjackbtn{
	position: absolute;
	left:635px;
	top:450px;
}

#blackjack_gif{
	width:1400px;
	height:600px;
}

#blackjack_gif:hover{
    cursor:pointer;
}

#card_board{
	position: relative;
	width:1400px;
	height:600px;
	background-color:green;
	border-radius:8px;
	border:2px solid gray; 
}

#enemycard1{
	margin-left:80px;
}

.enemycards{
	float:left;
	margin-left:115px;
	width:150px;
	height: 225px;
	border:5px solid white;
}

#mycard1{
	margin-left:80px;
}

.mycards{
	float:left;
	margin-left:115px;
	bottom: 0px;
	width:150px;
	height: 225px;
	border:5px solid white;
}

#getcardsbtn{
	margin-top:45px;
	margin-left:400px;
}

#winbtn{
	margin-top:45px;
	margin-left:80px;
}

#resetbtn{
	margin-top:45px;
	margin-left:80px;
}

#closeblackjackbtn{
	margin-top:45px;
	margin-left:80px;
}

#result_win{
   position:absolute;
   width:200px;
   height:100px;
   left:650px;
   top:330px;
   font-size: 30px;
   color:white;
}

#result_lose{
   position:absolute;
   width:200px;
   height:100px;
   left:650px;
   top:330px;
   font-size: 30px;
   color:white;
}

#roulette_gif{
	width:1400px;
	height:800px;
}

#roulette_gif:hover{
    cursor:pointer;
}

#roulette_board{
	width:1400px;
	height:800px;
	background-color:green;
	border-radius:8px;
	border:2px solid gray; 
	position: relative;
}

#roulette_pointer{
    position: absolute;
	left:650px;
	top:10px;
}

#roulette_body{
	position: absolute;
	left:400px;
	top:80px;
}

#playroulette{
	position: absolute;
	left:540px;
	bottom:30px;
}

#roulette_img{
	position: absolute;
	left:120px;
	top:230px;
}

#closeroulettebtn{
	position: absolute;
	left:900px;
	bottom:30px;
}

#eyetraining_board{
	width:1400px;
	height:788px;
	background-color:green;
	border-radius:8px;
	border:2px solid gray;
	position:relative;
}

#eyetraining_gif{
	width:1400px;
	height:788px;
}

#eyetraining_gif:hover{
    cursor:pointer;
}

#card_zone{
	width:1400px;
	height:650px;
	position: relative;
}

.movingcards{
	width:150px;
	height: 225px;
	border:5px solid white;
}

#movingcard1{
	position: absolute;
	left:150px;
	top:200px;
}

#movingcard2{
	position: absolute;
	left:400px;
	top:200px;
}

#movingcard3{
	position: absolute;
	left:650px;
	top:200px;
}

#targetcard{
	position: absolute;
	left:1000px;
	top:200px;
}

#targetdes{
	color:white;
	font-size: 24px;
	position: absolute;
	left:970px;
	top:450px;
}

#eyetraning_getcardsbtn{
	margin-left:200px;
}

#eyetraning_readysbtn{
	margin-left:80px;
}

#movingcardsbtn{
	margin-left:80px;
}

#eyetrainingresetbtn{
	margin-left:80px;
}

#quiteyetrainingbtn{
	margin-left:80px;
}

.eyetrainingresult{
	color:white;
	font-size:24px;
	position: absolute;
	left:600px;
	bottom:200px;
}

#typing_gif{
	width:1400px;
	height:934px;
}

#typing_gif:hover{
	cursor:pointer; 
}

#letter_board{
	width:1400px;
	height:934px;
	border-radius:8px;
	border:2px solid gray; 
	position: relative;
}

#bubble_dummylayer{
	position: absolute;
	z-index:100;
}

#bubble_layer{
	position: relative;
	width:1400px;
	height:700px;
}

#letter_body{
	position: absolute;
	width:800px;
	height:600px;
	left:400px;
	top:150px;
}

#inputbeauty_image{
   position: absolute;
   left:400px;
   bottom:30px;
   width:800px;
   height:51px;
}

#letter_input{
	position:absolute;
	left:400px;
	width:800px;
	bottom:70px;
}

#quittypingbtn{
	position:absolute;
	right:60px;
	bottom:82px;
}

#bombgame_board{
	width:1400px;
	height:980px;
	background:green;
	border-radius:8px;
	border:2px solid gray;
	position: relative;
}

#bombgame_gif{
	width:1400px;
	height:980px;
}

#bombgame_gif:hover{
   cursor:pointer;
}

#bombplate{
	position:absolute;
	width:804px;
	height:804px;
	left:300px;
	top:40px;
	border:2px solid white;
}

#bombgamestartbtn{
   	position:absolute;
	left:550px;
	bottom:30px;
}

#quitbomgamebtn{
	position:absolute;
	left:700px;
	bottom:30px;
}

#bombgameover{
	position:absolute;
	font-size:80px;
	color:red;
	left:500px;
	top:350px;
}

#doraemongame_board{
	width:1400px;
	height:800px;
	border-radius:8px;
	border:2px solid gray;
	position:relative;
}

#doraemongame_gif{
	width:1400px;
	height:800px;
}

#doraemongame_gif:hover{
   cursor:pointer;
}

#doraemongamestartbtn{
   	position:absolute;
	left:550px;
	bottom:30px;
}

#quitdoraemongamebtn{
	position:absolute;
	left:700px;
	bottom:30px;
}

#doraemon{
	position:absolute;
	width:70px;
	height:90px;
	left:600px;
	top:270px;
	z-index:0; 
}

#dialogwindow{
   position:absolute;
   width:300px;
   height:200px;
   left:400px;
   top:200px;
   z-index:20;
}

#dialog_content{
   position:absolute;
   width:500px;
   height:200px;
   left:420px;
   top:210px;
   font-size:30px;
   color:white;
   z-index:20; 
}

#dialog_content ul{
   list-style: none;
}

#dialog_content ul li:hover{
   width:300px;
   background:#9adaf6;	
   opacity:0.7;
}

#dialog_content2{
   position:absolute;
   width:500px;
   height:200px;
   left:420px;
   top:210px;
   font-size:30px;
   color:white;
   z-index:20;
}

#sodarseller{
	position:absolute;
	width:85px;
	height:125px;
	left:742px;
	top:200px;
}

#lamp{
	position:absolute;
	width:60px;
	height:120px;
	left:300px;
	top:450px;
	z-index:15;
}

#stopsign{
	position:absolute;
	width:56px;
	height:102px;
	left:700px;
	top:450px;
	z-index:15;
}

#onewaysign{
	position:absolute;
	width:48px;
	height:106px;
	left:1000px;
	top:450px;
	z-index:15;
}

#cabbage{
	position:absolute;
	width:50px;
	height:38px;
	left:790px;
	top:280px;
	z-index:0;
}

#up_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:1000px;
	bottom:150px;
}

#down_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:1000px;
	bottom:85px;
}

#left_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:930px;
	bottom:85px;
}

#right_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:1070px;
	bottom:85px;
}

#A_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:1200px;
	bottom:85px;
}

#B_panel{
	position:absolute;
	width:59px;
	height:57px;
	left:1270px;
	bottom:85px;
}