#worksDiv ul li{
	list-style-type: none;
}
#title{
	font-size: 30px;
}
#author{
	color: lightgreen;
	font-size: 20px;
}
#like{
    font-size: 20px;
}
#comment{
	font-size: 20px;
}
#foot{
	font-size: 20px;
	float: right;
}
#worksDiv{
	margin-top: 20px;
}
.container-fluid{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#filterDiv{
	margin-top: 2vh;
	margin-left: 2vw;
}
#listView{
	display: none;
}
