<div id="producer" ng-controller="producerCtrl">
	<div>
	    <h1>Producer</h1>
	    <div id="lottery_gif" ng-show="lotteryswitch1"><img src="assets/images/src/producer/lottery.gif" ng-click="showlotteryboard(false)"/></div>
	    <div id="lottery_body" ng-show="lotteryswitch2">
		<div id="ball_board">
			<div class="ball_box"><img src="assets/images/src/producer/balls/Ballbox.png" style="width:100%"><img class="showwhiteball" src="assets/images/src/producer/balls/W{{selectedWhiteball1.num}}.png" style="width:80%"></div>
			<div class="ball_box"><img src="assets/images/src/producer/balls/Ballbox.png" style="width:100%"><img class="showwhiteball" src="assets/images/src/producer/balls/W{{selectedWhiteball2.num}}.png" style="width:80%"></div>
			<div class="ball_box"><img src="assets/images/src/producer/balls/Ballbox.png" style="width:100%"><img class="showwhiteball" src="assets/images/src/producer/balls/W{{selectedWhiteball3.num}}.png" style="width:80%"></div>
			<div class="ball_box"><img src="assets/images/src/producer/balls/Ballbox.png" style="width:100%"><img class="showwhiteball" src="assets/images/src/producer/balls/W{{selectedWhiteball4.num}}.png" style="width:80%"></div>
			<div class="ball_box"><img src="assets/images/src/producer/balls/Ballbox.png" style="width:100%"><img class="showwhiteball" src="assets/images/src/producer/balls/W{{selectedWhiteball5.num}}.png" style="width:80%"></div>
			<button id="rollbtn" class="btn btn-info" ng-click="randompick()">Roll Balls</button>
                        <button id="closelotterybtn" class="btn btn-success" ng-click="showlotteryboard(true)">Close</button>
		</div>
	        <select class="selector" ng-model="selectedWhiteball1" ng-options="x.num for x in whiteball1|filter:selectedWhiteball2:not|filter:selectedWhiteball3:not|filter:selectedWhiteball4:not|filter:selectedWhiteball5:not" id="selector1" ng-click="selector1dirty()"></select>
	        <select class="selector" ng-model="selectedWhiteball2" ng-options="x.num for x in whiteball2|filter:selectedWhiteball1:not|filter:selectedWhiteball3:not|filter:selectedWhiteball4:not|filter:selectedWhiteball5:not" ng-click="selector2dirty()"></select>
	        <select class="selector" ng-model="selectedWhiteball3" ng-options="x.num for x in whiteball3|filter:selectedWhiteball1:not|filter:selectedWhiteball2:not|filter:selectedWhiteball4:not|filter:selectedWhiteball5:not" ng-click="selector3dirty()"></select>
	        <select class="selector" ng-model="selectedWhiteball4" ng-options="x.num for x in whiteball4|filter:selectedWhiteball1:not|filter:selectedWhiteball2:not|filter:selectedWhiteball3:not|filter:selectedWhiteball5:not" ng-click="selector4dirty()"></select>
	        <select class="selector" ng-model="selectedWhiteball5" ng-options="x.num for x in whiteball5|filter:selectedWhiteball1:not|filter:selectedWhiteball2:not|filter:selectedWhiteball3:not|filter:selectedWhiteball4:not" ng-click="selector5dirty()"></select>
        </div>
        
        <div id="blackjack_gif" ng-show="blackjackswitch1"><img src="assets/images/src/producer/blackjack.gif" ng-click="switchblackjack(false)"/> 
        </div>

        <div id="card_board" ng-show="blackjackswitch2">
        	<div class="enemycards" id="enemycard1"><img src={{enemycard1.src}} style="width:100%"></div>
        	<div class="enemycards"><img src={{enemycard2.src}} style="width:100%"></div>
        	<div class="enemycards"><img src={{enemycard3.src}} style="width:100%"></div>
        	<div class="enemycards"><img src={{enemycard4.src}} style="width:100%"></div>
        	<div class="enemycards"><img src={{enemycard5.src}} style="width:100%"></div>
        	<div style="float:left;width:1400px;height:148px;">
        	      <button id="getcardsbtn" class="btn btn-info" ng-click="getcards()">Get Cards</button>
        	      <button id="winbtn" class="btn btn-danger" ng-click="showresult()">Show Cards</button>
        	      <button id="resetbtn" class="btn btn-warning" ng-click="resetgame()">Reset Game</button>
                      <button id="closeblackjackbtn" class="btn btn-success" ng-click="switchblackjack(true)">Quit Game</button>
        	      <div id="result_win" ng-if="gameresult_win">You Win</div>
        	      <div id="result_lose" ng-if="gameresult_lose">You Lose</div>
        	</div>
        	<div class="mycards" id="mycard1"><img src={{mycard1.src}} style="width:100%"></div>
        	<div class="mycards"><img src={{mycard2.src}} style="width:100%"></div>
        	<div class="mycards"><img src={{mycard3.src}} style="width:100%"></div>
        	<div class="mycards"><img src={{mycard4.src}} style="width:100%"></div>
        	<div class="mycards"><img src={{mycard5.src}} style="width:100%"></div>
        </div>
        
        <div id="roulette_gif" ng-show="rouletteswitch1"><img src="assets/images/src/producer/roulette.gif" ng-click="switchroulette(false)"/> 
        </div>
        <div id="roulette_board" ng-show="rouletteswitch2">
            <div id="roulette_body"><img id="roulette" src="assets/images/src/producer/roulette.png"/></div>
            <div id="roulette_pointer"><img src="assets/images/src/producer/pointer.png"/></div>
            <button id="playroulette" class="btn btn-info" style="width: 300px" ng-click="playroulette()">Let roulette help you decide what to do</button>
            <button id="closeroulettebtn" class="btn btn-success" ng-click="switchroulette(true)">Quit Game</button>
            <div id="roulette_img"><img src="{{decision}}"/></div>
        </div>
        
        <div id="eyetraining_gif" ng-show="eyetrainingswitch1"><img src="assets/images/src/producer/eyetraining.gif" ng-click="switcheyetraining(false)"/> 
        </div>
        <div id="eyetraining_board" ng-show="eyetrainingswitch2">
            <div id="card_zone">
                <div id="movingcard1" class="movingcards" ng-click="choosecard1()">
                    <img src={{eyetrainingcard1.src}} style="width:100%"/>     
                </div>
                <div id="movingcard2" class="movingcards" ng-click="choosecard2()">
                    <img src={{eyetrainingcard2.src}} style="width:100%"/>     
                </div>
                <div id="movingcard3" class="movingcards" ng-click="choosecard3()">
                    <img src={{eyetrainingcard3.src}} style="width:100%"/>     
                </div>
                <div id="targetcard" class="movingcards">
                    <img src={{eyetrainingtargetcard.src}} style="width:100%"/>  
                </div>
                <div id="targetdes">Remember this card</div>  
            </div>
            <div class="eyetrainingresult" ng-show="getrightcard">You are so strong</div>
            <div class="eyetrainingresult" ng-show="getwrongcard">Wrong Card</div>
            <div id="control_zone">
                <button id="eyetraning_getcardsbtn" class="btn btn-info" ng-click="eyetraining_getcards()">Get Cards</button>
                <button id="eyetraning_readysbtn" class="btn btn-warning" ng-click="eyetraining_ready()">Ready</button>
                <button id="movingcardsbtn" class="btn btn-danger" ng-click="movingcards()">Move Cards</button>
                <button id="eyetrainingresetbtn" class="btn btn-info" ng-click="eyetrainingreset()">Reset</button>
                <button id="quiteyetrainingbtn" class="btn btn-success" ng-click="switcheyetraining(true)">Quit Game</button>
            </div>
        </div>
        
        <div id="typing_gif" ng-show="typingswitch1"><img src="assets/images/src/producer/typing.gif" ng-click="switchtyping(false)"/> 
        </div>
        <div id="letter_board" style="background:url(assets/images/src/producer/letter.jpg) no-repeat center" ng-show="typingswitch2">
            <div id="bubble_dummylayer"><div id="bubble_layer"></div></div>
            <div id="letter_body"></div>
            <div id="inputbeauty_image"><img src="assets/images/src/producer/ashiato.gif" style="width:100%"/></div>
            <button id="quittypingbtn" class="btn btn-success" ng-click="switchtyping(true)">Quit</button>
            <div id="letter_input" class="form-group"><input class="form-control" type="text" name="name" placeholder="Input some words here" ng-keydown="writeletter($event)"></div>
        </div>
        
        <div id="bombgame_gif" ng-show="bombgameswitch1"><img src="assets/images/src/producer/bombgame.gif" ng-click="switchbombgame(false)"/> 
        </div>
        <div id="bombgame_board" ng-show="bombgameswitch2">
            <div id="bombplate"></div>
            <button id="bombgamestartbtn" class="btn btn-info" ng-click="bombgamestart()">Start Game</button>
            <button id="quitbomgamebtn" class="btn btn-success" ng-click="switchbombgame(true)">Quit Game</button>
            <div id="bombgameover" ng-show="bombgameover">Game Over</div>>
        </div>
</div>